<a href="https://colab.research.google.com/github/myDSMLProjects/Deep-Learning/blob/master/raw_model_mpg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
import pandas as pd
import io
import os
import requests
import numpy as np
from sklearn import metrics

In [0]:
save_path = '.'

In [2]:
tf.__version__

'2.2.0-rc3'

In [0]:
df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv", 
    na_values=['NA', '?'])

In [4]:
df.head(5)

    mpg  cylinders  displacement  ...  year  origin                       name
0  18.0          8         307.0  ...    70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...    70       1          buick skylark 320
2  18.0          8         318.0  ...    70       1         plymouth satellite
3  16.0          8         304.0  ...    70       1              amc rebel sst
4  17.0          8         302.0  ...    70       1                ford torino

[5 rows x 9 columns]

In [0]:
cars = df['name']

In [6]:
cars

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object

In [0]:
# handling the missing values
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].median())

In [0]:
# pandas to numpy
X = df[['cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin']].values
y = df['mpg'].values

In [9]:
# Building the neural network
model = Sequential()
model.add(Dense(25, input_dim=X.shape[1], activation='relu')) # hidden1
model.add(Dense(10, activation='relu')) # hidden2
model.add(Dense(1)) # Output

model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(X, y, verbose=2, epochs=100)

Epoch 1/100
13/13 - 0s - loss: 13064.1562
Epoch 2/100
13/13 - 0s - loss: 1030.4706
Epoch 3/100
13/13 - 0s - loss: 941.6262
Epoch 4/100
13/13 - 0s - loss: 174.2743
Epoch 5/100
13/13 - 0s - loss: 141.2920
Epoch 6/100
13/13 - 0s - loss: 113.3960
Epoch 7/100
13/13 - 0s - loss: 100.4741
Epoch 8/100
13/13 - 0s - loss: 95.0682
Epoch 9/100
13/13 - 0s - loss: 97.6284
Epoch 10/100
13/13 - 0s - loss: 92.7464
Epoch 11/100
13/13 - 0s - loss: 93.6262
Epoch 12/100
13/13 - 0s - loss: 92.0554
Epoch 13/100
13/13 - 0s - loss: 95.9909
Epoch 14/100
13/13 - 0s - loss: 94.6854
Epoch 15/100
13/13 - 0s - loss: 92.6526
Epoch 16/100
13/13 - 0s - loss: 91.9128
Epoch 17/100
13/13 - 0s - loss: 93.1650
Epoch 18/100
13/13 - 0s - loss: 91.9377
Epoch 19/100
13/13 - 0s - loss: 93.0336
Epoch 20/100
13/13 - 0s - loss: 95.5114
Epoch 21/100
13/13 - 0s - loss: 91.5287
Epoch 22/100
13/13 - 0s - loss: 88.3162
Epoch 23/100
13/13 - 0s - loss: 90.4517
Epoch 24/100
13/13 - 0s - loss: 92.2624
Epoch 25/100
13/13 - 0s - loss: 90.3456
Epoch 26/100
13/13 - 0s - loss: 90.5737
Epoch 27/100
13/13 - 0s - loss: 88.5770
Epoch 28/100
13/13 - 0s - loss: 87.0267
Epoch 29/100
13/13 - 0s - loss: 88.0852
Epoch 30/100
13/13 - 0s - loss: 86.2090
Epoch 31/100
13/13 - 0s - loss: 83.8252
Epoch 32/100
13/13 - 0s - loss: 84.2261
Epoch 33/100
13/13 - 0s - loss: 84.1066
Epoch 34/100
13/13 - 0s - loss: 83.0781
Epoch 35/100
13/13 - 0s - loss: 82.1864
Epoch 36/100
13/13 - 0s - loss: 84.6579
Epoch 37/100
13/13 - 0s - loss: 85.3966
Epoch 38/100
13/13 - 0s - loss: 81.2690
Epoch 39/100
13/13 - 0s - loss: 80.9710
Epoch 40/100
13/13 - 0s - loss: 81.4660
Epoch 41/100
13/13 - 0s - loss: 78.2013
Epoch 42/100
13/13 - 0s - loss: 83.6764
Epoch 43/100
13/13 - 0s - loss: 81.5646
Epoch 44/100
13/13 - 0s - loss: 78.7460
Epoch 45/100
13/13 - 0s - loss: 77.3021
Epoch 46/100
13/13 - 0s - loss: 80.9492
Epoch 47/100
13/13 - 0s - loss: 77.3134
Epoch 48/100
13/13 - 0s - loss: 79.1876
Epoch 49/100
13/13 - 0s - loss: 80.2647
Epoch 50/100
13/13 - 0s - loss: 75.5236
Epoch 51/100
13/13 - 0s - loss: 75.2924
Epoch 52/100
13/13 - 0s - loss: 74.5890
Epoch 53/100
13/13 - 0s - loss: 74.8392
Epoch 54/100
13/13 - 0s - loss: 74.7207
Epoch 55/100
13/13 - 0s - loss: 75.3397
Epoch 56/100
13/13 - 0s - loss: 71.6458
Epoch 57/100
13/13 - 0s - loss: 70.7322
Epoch 58/100
13/13 - 0s - loss: 71.0929
Epoch 59/100
13/13 - 0s - loss: 70.4848
Epoch 60/100
13/13 - 0s - loss: 70.2247
Epoch 61/100
13/13 - 0s - loss: 70.8611
Epoch 62/100
13/13 - 0s - loss: 70.7306
Epoch 63/100
13/13 - 0s - loss: 71.9635
Epoch 64/100
13/13 - 0s - loss: 70.3900
Epoch 65/100
13/13 - 0s - loss: 67.9409
Epoch 66/100
13/13 - 0s - loss: 66.9601
Epoch 67/100
13/13 - 0s - loss: 66.9922
Epoch 68/100
13/13 - 0s - loss: 65.8653
Epoch 69/100
13/13 - 0s - loss: 66.0731
Epoch 70/100
13/13 - 0s - loss: 66.2998
Epoch 71/100
13/13 - 0s - loss: 70.6581
Epoch 72/100
13/13 - 0s - loss: 64.5827
Epoch 73/100
13/13 - 0s - loss: 67.3613
Epoch 74/100
13/13 - 0s - loss: 66.1657
Epoch 75/100
13/13 - 0s - loss: 64.5573
Epoch 76/100
13/13 - 0s - loss: 65.4479
Epoch 77/100
13/13 - 0s - loss: 62.0987
Epoch 78/100
13/13 - 0s - loss: 61.1443
Epoch 79/100
13/13 - 0s - loss: 63.4161
Epoch 80/100
13/13 - 0s - loss: 64.8215
Epoch 81/100
13/13 - 0s - loss: 62.5929
Epoch 82/100
13/13 - 0s - loss: 58.8025
Epoch 83/100
13/13 - 0s - loss: 60.1273
Epoch 84/100
13/13 - 0s - loss: 56.9975
Epoch 85/100
13/13 - 0s - loss: 56.7720
Epoch 86/100
13/13 - 0s - loss: 57.0951
Epoch 87/100
13/13 - 0s - loss: 55.7954
Epoch 88/100
13/13 - 0s - loss: 55.9985
Epoch 89/100
13/13 - 0s - loss: 59.0601
Epoch 90/100
13/13 - 0s - loss: 59.6058
Epoch 91/100
13/13 - 0s - loss: 57.2078
Epoch 92/100
13/13 - 0s - loss: 56.5083
Epoch 93/100
13/13 - 0s - loss: 54.5195
Epoch 94/100
13/13 - 0s - loss: 54.6240
Epoch 95/100
13/13 - 0s - loss: 55.0800
Epoch 96/100
13/13 - 0s - loss: 53.0050
Epoch 97/100
13/13 - 0s - loss: 53.1397
Epoch 98/100
13/13 - 0s - loss: 52.8165
Epoch 99/100
13/13 - 0s - loss: 51.1770
Epoch 100/100
13/13 - 0s - loss: 52.6666

In [10]:
pred = model.predict(X)
print(f'shape pf prediction : {pred.shape}')
print(pred[:10])

shape pf prediction : (398, 1)
[[12.262991 ]
 [11.07044  ]
 [11.894886 ]
 [14.142155 ]
 [13.54645  ]
 [ 8.718355 ]
 [ 7.1609817]
 [ 8.438959 ]
 [ 8.304792 ]
 [ 8.921631 ]]

In [11]:
print(metrics.r2_score(y, pred))

0.16898958240107165

In [12]:
score = np.sqrt(metrics.mean_squared_error(pred, y))
print(f'RMSE : {score}')

RMSE : 7.116076864254066

In [13]:
# Sample predictions
for i in range(10):
  print(f'{i+1}. Car name: {cars[i]}, Actual MPG: {y[i]}, Predicted MPG: {pred[i]}')

1. Car name: chevrolet chevelle malibu, Actual MPG: 18.0, Predicted MPG: [12.262991]
2. Car name: buick skylark 320, Actual MPG: 15.0, Predicted MPG: [11.07044]
3. Car name: plymouth satellite, Actual MPG: 18.0, Predicted MPG: [11.894886]
4. Car name: amc rebel sst, Actual MPG: 16.0, Predicted MPG: [14.142155]
5. Car name: ford torino, Actual MPG: 17.0, Predicted MPG: [13.54645]
6. Car name: ford galaxie 500, Actual MPG: 15.0, Predicted MPG: [8.718355]
7. Car name: chevrolet impala, Actual MPG: 14.0, Predicted MPG: [7.1609817]
8. Car name: plymouth fury iii, Actual MPG: 14.0, Predicted MPG: [8.438959]
9. Car name: pontiac catalina, Actual MPG: 14.0, Predicted MPG: [8.304792]
10. Car name: amc ambassador dpl, Actual MPG: 15.0, Predicted MPG: [8.921631]

In [0]:
# Save neural network structure to json (no weights)
model_json = model.to_json()
with open(os.path.join(save_path, 'network.json'), 'w') as json_file:
  json_file.write(model_json)

# Save neural network structure to YAML (no weights)
model_yaml = model.to_yaml()
with open(os.path.join(save_path, 'network.yaml'), 'w') as yaml_file:
  yaml_file.write(model_yaml)

# Save neural network structure to HDF5 (saves everything, suggested)
model.save(os.path.join(save_path, 'network.h5'))

In [20]:
from tensorflow.keras.models import load_model
model2 = load_model(os.path.join(save_path, 'network.h5'))
pred = model2.predict(X)

# Measure RMSE error.  RMSE is common for regression.
score = np.sqrt(metrics.mean_squared_error(pred, y))
print(f'After load score(RMSE: {score}')

After load score(RMSE: 7.116076864254066